<!DOCTYPE html>
<html lnag="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="row align-items-center" style="height: 100vh;">
            <div class="mx-auto col-10 col-md-8 col-lg-6">
                <div class="card" style="width: 600px; margin-left: auto; margin-right: auto">
                    <div class="card-body">
                        <h2>Register</h2>
                        <form action="#" th:action="@{/user/}" th:object="${user}" method="post">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" id="name" class="form-control" placeholder="Name" th:field="*{name}" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Surname:</label>
                                <input type="text" id="surname" class="form-control" placeholder="Surname" th:field="*{surname}" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" id="email" class="form-control" placeholder="email@example.com" th:field="*{email}" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" id="password" class="form-control" placeholder="Password" th:field="*{password}" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Location:</label>
                                <input type="text" id="location" class="form-control" placeholder="Location" th:field="*{location}" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Points:</label>
                                <input type="text" id="location" class="form-control" placeholder="Points" th:field="*{location}" required>
                            </div>
                            <br>
                            <a href="/user/"><button class="btn btn-primary" type="submit" onclick="verifyData()">Sign Up</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>